# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
out/
out/**

# ===============================
# Build / Compile
# ===============================
target/
build/
*.class

# ===============================
# OS / Logs
# ===============================
.DS_Store
Thumbs.db
*.log

# ===============================
# CONFIG SENSITIF (JANGAN KE GIT)
# ===============================
config/db.properties
src/config/db.properties
.env
*.env

# ===============================
# Generated / Export Files
# ===============================
*.csv
struk_*.txt

# ===============================
# Library Lokal
# ===============================
*.jar

# ===============================
# Temp
# ===============================
*.tmp
*.bak
token GitHub.txt
